img{
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.owl-carousel .owl-item img {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    border-radius: 100%;
}
.content-box{
    background: url('img/bg-testimonials.jpg');
    color: aliceblue;
    text-align: center;
}
/*
.internal span{
    font-size: 100px;
    background: white;
    display: inline-block;
    height: 100px;
}
*/
/*
.lead{
    display: inline;
}*/
.test{
    margin: 150px 0;
}